.header {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  margin: 40px auto;
  /* margin-left: 64px; */
  /* margin-right: 64px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-family: Lato;
  margin-left: 4.444vw;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  /* justify-self: flex-start; */
}

.navmanu {
  width: 483px;
  font-family: Lato;
  border-radius: 80px;
  background-color: #071a45;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  color: #c9c6c2;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navmanulist {
  width: 435px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
}

.singButtons {
  width: 235px;
  margin-right: 4.444vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
}

.signup {
  width: 110px;
  height: 58px;
  border: 1px solid #071a45;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #071a45;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  float: right;
}

.signin {
  width: 110px;
  height: 58px;
  background-color: #3a7dff;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.heroSection {
  /* width: 100%; */

  /* width: 1237px; */
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroCapitalWriting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  font-family: Lato;
  font-size: 72px;
  line-height: 80px;
  font-weight: 800;
  color: #071a45;
  margin-bottom: 16px;
}

.heroSmaollWriting {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #071a45;
}

.heroButtons {
  margin-top: 40px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 544px;
}

.herobutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: #3a7dff;
  padding: 16px 20px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
